<section class="row justify-content-center align-items-center" style="height: {{height}}px" (window:resize)="onResize($event)">
    <div class="col-lg-2 d-none d-lg-inline"></div>
    <div class="col-11 col-sm-6 col-lg-3">
        <div class="promo wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.1s">
            <span>Hello I'm</span>
        </div>

        <h2 class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s">Alex Nelson</h2>
        <h4 class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s">Software Engineer
        </h4>

        <div class="row social-icon wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.7s">
            <div class="ml-3"><a href="#contact"><i class="col fab fa fa-envelope"></i></a></div>
            <div class="ml-3"><a href="https://www.linkedin.com/in/alex-j-nelson/" target="_blank"><i class="col fab fa-linkedin"></i></a></div>
            <div class="ml-3"><a href="https://github.com/alexjnelson/" target="_blank"><i class="col fab fa-github"></i></a></div>
        </div>
    </div>
    <div class="col-lg-7 d-none d-lg-inline">
        <div class="headshot wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.6s">
            <div class="img-border">
                <img src="assets/images/headshot.png" alt="" class="img-fluid h-100">
            </div>
        </div>
    </div>
</section>