<section class="row justify-content-center pt-5 pb-5 mx-2">
    <!-- TO DO: Maybe make into editable list -->
    <div class="col-sm-12 p-3 pt-5 text-center wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s">
        <h2>Education</h2>
    </div>
    <div class="col-12 col-lg-6 col-xl-5 my-2 pb-auto pb-lg-5 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s">
        <app-shadowbox class="m-2">
            <!-- Education Institutes-->
            <div class="mt-4">
                <h4>Software Engineering, <a href="https://www.uwo.ca/">Western University</a></h4>
                <div class="eduyear">2018-2023</div>
                <p>Founded in 1878, Western University ranks as one of Canada’s top research-intensive universities, and
                    is among the top 1% of universities worldwide. Known for its exceptional academic programs,
                    breakthrough research discoveries and outstanding
                    student experience, Western offers a full complement of disciplines including more than 400
                    undergraduate programs and 88 different graduate degree programs.
                    <br><br>
                    <a href="https://www.timeshighereducation.com/world-university-rankings/western-university"><i>(via
                            Times Higher Education)</i></a>
                </p>
            </div>
        </app-shadowbox>
    </div>

    <div class="col-12 col-lg-6 col-xl-5 my-2 pb-auto pb-lg-5 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s">
        <app-shadowbox class="m-2 wow fadeInUp">
            <!-- Education Institutes-->
            <div class="mt-4 wow fadeInUp">
                <h4>Honors Business Administration, <a href="https://www.ivey.uwo.ca/">Ivey Business School</a></h4>
                <div class="eduyear">2020-2023</div>
                <p>Ivey Business School is the business school of Western University, a public university located in
                    London, Ontario, Canada. Ivey is one of Canada's oldest business schools. It offers full-time
                    undergraduate (HBA), MBA, MSc, and PhD programs and also maintains two teaching facilities in
                    Toronto and Hong Kong for its EMBA and executive development programs.
                    <br><br>
                    <a href="https://www.linkedin.com/school/ivey-business-school/"><i>(via Ivey School of
                            Business)</i></a>
                </p>
            </div>
        </app-shadowbox>
    </div>

</section>