<section class="row justify-content-center">
    <div class="col-12 p-3 pt-5 section-title wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s">
        <h3>Contact</h3>
    </div>

    <app-shadowbox class="col-6">
        <h4 class="pt-5 pb-3">Let's Get In Touch!</h4>

        <form>
            <input type="text" class="form-control p-3 mb-3" id="contact-name" aria-describedby="nameHelp"
                placeholder="Your Name" required>
    
            <input type="email" class="form-control p-3 mb-3" id="contact-email" aria-describedby="emailHelp"
                placeholder="Your Email" required>
    
            <textarea rows="6" class="form-control p-3 mb-3" id="contact-message" aria-describedby="messageHelp"
                placeholder="Your Message - I'll get back to you as soon as possible!" required></textarea>
            
            <div class="row justify-content-center">
                <button type="submit" class="col-5 btn">Submit</button>
            </div>
        </form>
    </app-shadowbox>
</section>