h2 {
    font-weight: bold;
}

.section-padding {
    padding-top: 100px;
}

.list-item span {
    font-size: 0.8125rem;
    border: 1px solid var(--main);
    border-radius: 4px;
    transition: background-color 0.3s ease;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
}

.list-item span:hover {
    background-color: var(--main);
}

.btn {
    transition: color 0.3s ease;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: background-color 0.3s ease;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    outline: 0;
    padding: 8px 30px;
    font-weight: bold;
    border-radius: 20px;
    background-color: var(--main);
    color: var(--text-on-main);
}

.btn:hover {
    background-color: var(--accent);
    color: var(--text-on-accent)
}