<!-- Animate-->

<!-- Owl Carousel-->


<!-- ROUTER PLAN: When visiting new link, fully load link in "next" frame, then use carousel to scroll to it
        Usually scroll forwards, but if the requested link is the previous frame, then scroll backwards
        Or, maybe use linked list to hold where parts are and scroll past parts
  -->

<body data-spy="scroll" data-target="#navbar" data-offset="100">
    <!-- TO DO: LOADER -->
    <!-- TO DO: Make editable list component (for nav bar, skill list, etc) -->
    <app-navigation id="navbar"></app-navigation>

    <app-bg-image-wrapper [imageUrl]="'assets/images/home-bg.jpg'" [overlayOpacity]=".85">
        <app-header-frame id="home"></app-header-frame>
    </app-bg-image-wrapper>

    <app-about-frame id="about"></app-about-frame>
    <app-skills-frame></app-skills-frame>

    <app-bg-image-wrapper [imageUrl]="'assets/images/bg-image.jpg'" [overlayOpacity]=".85">
        <app-education-frame id="education"></app-education-frame>
    </app-bg-image-wrapper>
    
    <!-- <app-projects-frame id="projects"></app-projects-frame> -->

    <app-contact-form id="contact"></app-contact-form>

    <div class="row p-2 social-icon wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.7s">
        <div class="ml-3"><a href="https://github.com/alexjnelson/" style="color: var(--main); font-size:1.25rem"><i class="col fab fa-github"></i></a></div>
    </div>

</body>